/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nanopore_basecall Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
// Global default params, used in configs
params.pod5 = ''
params.outdir = ''
params.sample_id = ''


// Dorado path
params.dorado = '/bigdata/Jessin/Softwares/dorado-0.9.1-linux-x64/bin/dorado'
params.barcode_kit = 'SQK-RBK114-24'
params.dorado_mode = 'sup'


// Default resources settings
process.executor = 'local'
process.cpus = 12
process.memory = '96 GB'
process.time = '10h'
